
.armagic_header_wrap {
    margin-top: -15px;
}

.armagic_header_wrap #icon {
    float: left;
    height: 34px;
    margin: 7px 8px 0 0;
    width: 36px;
}
.armagic_header_wrap h2 {
    font-size: 23px;
    line-height: 29px;
    padding: 9px 15px 4px 0;
    font-weight: normal;
}



.inside .armagic .form-table th {
    font-size: 13px;
    width: 220px !important;
    text-align: right;
}